<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login and SignUp">

	<test name="Login-SignUp" preserve-order="true">
		<classes>
			<class name="com.crmAutomation.testScripts.ValidSignUpPageTest" />
			<class name="com.crmAutomation.testScripts.InValidSignUpCredentials" />
			<class name="com.crmAutomation.testScripts.LoginTest" />
			<class name="com.crmAutomation.testScripts.HomePageTest" />
			<class name="com.crmAutomation.testScripts.ContactsPgTest" />
			<!-- <class name="com.crmAutomation.testScripts.CompaniesPageTest" /> -->
			
		</classes>
	</test>


</suite> 
